{% extends 'site/layout.html.twig' %}

{% block title %}
    {% if category %}{{ category }} | {% endif %} Centre d'aide
{% endblock %}

{% block app_cart %}{% endblock %}
{% block app_mobile_cart %}{% endblock %}
{% block app_navbar_second %}{% endblock %}
{% block app_breadcrumbs %}{% endblock %}

{% block app_body %}
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-12">
            {% include 'site/pages/help/_content.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.skin-light .app-help .list-group a').hover(function (){
                let $this = $(this);

                $this.find('i.fa-long-arrow-alt-right').show(400);
            }, function (){
                let $this = $(this);

                $this.find('i.fa-long-arrow-alt-right').hide(400);
            });

        });
    </script>
{% endblock %}
