<section>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="h2-responsive font-weight-stone-600 text-primary mb-3">A propos de {{ settings.name }}</h2>
            <p>
                <span class="text-default font-weight-stone-600">{{ settings.name }}</span> est un site de petite
                annonces généralistes en Côte d'Ivoire qui rend à ses internautes souhaitant acheter,
                vendre ou louer des biens et services. C'est un des leaders de la vente entre particuliers et
                professionnels. Nous sommes fiers de fournir un service qui rassemble les Ivoiriens et les
                aide à acheter des articles de qualité dans leur région, faire de l’argent avec leurs article non
                utilisés et diminuer le gaspillage au pays.
            </p>

            <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4 mb-3">L'assurance d'une visibilité maximum à vos annonces</h4>
            <p class="">
                Ce sont de millier de visiteur qui, chaque mois, consultent les biens regroupés
                en 7 categories (<span class="grey-text font-weight-stone-500">auto moto, immobilier, acheter et vendre,
                    emplois, animaux, services et rencontre</span>) proposés pas
                <span class="text-default font-weight-stone-600">{{ settings.name }}</span>.
            </p>

            <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4 mb-3">L'accompagnement de l’internaute au quotidien</h4>
            <p class="">
                Envoi de nouvelles annonces par e-mail, réseaux sociaux (Facebook, Twitter, Instagram …), etc.
                Le site de petites annonces gratuites <span class="text-default font-weight-stone-600">{{ settings.name }}</span>
                met à la disposition des internautes une gamme complète de services et d’outils pratiques.
            </p>
        </div>
    </div>
</section>


