<section>
    <div class="card">
        <div class="card-body">
            <h2 class="h2-responsive font-weight-stone-600 mb-3">Charte du bon annonceur</h2>
            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Objet
            </h4>
            <p>
                La <span class="text-primary font-weight-stone-500">charte du bon annonceur</span> régit le depot d'annonces
                par les annonceurs sur le site web. <br>
                L'annonceur est responsable du contenu de son annonce et il s'engage à respecter la législation en vigueur
                en la matière et notamment les règles ci-après. <br>
                Par ailleurs, le depot et la diffusion d'une annonce sur le site implique l'acceptation pleine et entière
                de la présente <span class="text-primary font-weight-stone-500">charte du bon annonceur</span> par
                l'annonceur. <br>
                Enfin, le site se réserve le droit de procéder à l'arrêt de la diffusion de l'annonce, si l'annonceur ne
                respecte pas tout ou partie de la réglementation en vigueur, des CGV, des CGU et/ou de la présente
                <span class="text-primary font-weight-stone-500">charte du bon annonceur</span>, sans que cela ne fasse
                naître au profit de l'annonceur un quelconque droit à remboursement ou indemnité. En outre, le site se
                réserve le droit de suspendre le compte de l'annonceur, sans que cela ne fasse naître au profit de
                l'annonceur un quelconque droit à remboursement ou indemnité. L'annonceur assume l'entière responsabilité
                éditoriale du contenu des annonces qu'il publie et de ce fait, il garantit la Société, notamment contre
                toute action qui pourrait être dirigée contre elle du fait de l'annonceur.
            </p>
            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Règles générales
            </h4>
            <h5 class="h5-responsive font-weight-stone-600">
                Rédaction de l'annonce
            </h5>
            <p>
                Toute Annonce devra être rédigée en français sauf exceptions: <br>
                <i class="fas fa-hand-point-right text-secondary"></i>
                dénominations de produits typiques et spécialités d'origine étrangère connus du public. Exemple : jeans<br>
                <i class="fas fa-hand-point-right text-secondary"></i>
                termes ou expressions rentrés dans le langage courant ou résultant de l'application de conventions internationales
                et s'il s'agit de biens ou de produits comportant des inscriptions gravées, moulées ou tissées en
                langues étrangères. Exemple: made in.<br>
                <i class="fas fa-hand-point-right text-secondary"></i>
                noms commerciaux, dénominations sociales, ou enseignes<br>
                <i class="fas fa-hand-point-right text-secondary"></i> marques de fabrique, de commerce ou de service.
            </p>
            <p>
                L'annonceur ne pourra pas faire paraitre simultanément plusieurs annonces ayant un contenu
                identique. A cet effet, l'annonceur s'engage à supprimer toute ancienne annonce ayant un
                contenu identique à la nouvelle Annonce diffusée.
            </p>
            <h5 class="h5-responsive font-weight-stone-600">
                Interdictions générales
            </h5>
            <h6 class="font-weight-stone-600">
                Interdictions relatives à la forme de l'annonce
            </h6>
            <p>
                Il est interdit de diffuser: <br><br>
                <i class="fas fa-hand-point-right text-secondary"></i> des annonces exclusivement rédigées en termes étrangers<br>
                <i class="fas fa-hand-point-right text-secondary"></i> des annonces mentionnant ou décrivant plusieurs biens ou services ou comportant des termes
                sans lien avec le contenu proposé <br>
                <i class="fas fa-hand-point-right text-secondary"></i> des annonces qui dirigeraient directement ou indirectement les utilisateurs de l'annonce
                vers un site au contenu concurrent ou vers un établissement concurrent et/ou dont le contenu
                est contraire à la réglementation en vigueur <br>
                <i class="fas fa-hand-point-right text-secondary"></i> des annonces contenant une adresse url <br>
                <i class="fas fa-hand-point-right text-secondary"></i> des annonces insérées dans une catégorie ne correspondant pas à l'objet de l'annonce <br>
                <i class="fas fa-hand-point-right text-secondary"></i> plusieurs fois une même annonce (bien ou service identique) avec une référence différente.
            </p>
            <h6 class="font-weight-stone-600">
                Interdictions relatives au contenu de l'annonce
            </h6>
            <p>
                Il est interdit de diffuser des annonces dont le contenu: <br><br>
                <i class="fas fa-hand-point-right text-secondary"></i> est trompeur ou de nature à induire en erreur
                et concernant notamment des informations fausses, exagérées ou excessivement avantageuses, relatives,
                sans que cette énumération ne soit limitative, au prix, à la description et/ou aux caractéristiques
                du produit ou du service. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> est contraire aux intérêts matériels ou moraux
                du site et notamment: <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus à caractère politique <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus à caractère discriminatoire,
                    injurieux ou dénigrant<br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus à caractère sexiste <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus à caractère religieux <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus contraires à la décence
                    ou aux bonnes mœurs <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des contenus susceptibles de choquer les
                    lecteurs tels que des contenus à caractère sexuel, pornographique, violent, raciste (…) <br>
                    <i class="fas fa-angle-right text-secondary ml-2"></i> des copies de biens ou des contrefaçons <br>
                    <span class="ml-2">Exemples:</span> <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les annonces ayant pour objet la vente de copies
                    de CD, DVD, jeux vidéo, …; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les annonces ayant pour objet la vente de
                    vêtements, chaussures, accessoires, …. ayant de grandes ressemblances ou similitudes avec une marque
                    notoirement connue. <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet des biens que l'annonceur n'aurait
                    pas l'autorisation de céder, notamment en cas d'acquisition irrégulière. A ce sujet, le site se réserve
                    le droit de demander à l'annonceur la facture d'achat du bien proposé à la vente ou toute autre preuve
                    relative à la propriété du bien; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet de solliciter une adhésion ou une
                    inscription soit en exigeant le paiement d'une somme d'argent soit en faisant espérer des gains
                    financiers résultant de l'inscription ou du recrutement de tiers; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet des activités telles que Escort
                    boy ou Escort girl; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet un avis de recherche ou mentionne
                    l'identité d'une personne morale ou d'une personne physique ou indique précisément les caractéristiques
                    permettant de reconnaitre ladite personne; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet du tabac, un/des produit(s) du tabac,
                    un/des ingrédient(s) du tabac; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet une/des boisson(s) alcoolique(s); <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet des médicaments; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet des produits amincissants, produits de
                    régime, produits dits amaigrissants ou autres et notamment présentés comme étant miraculeux; <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> a pour objet une activité réglementée telle que et
                    non limitativement: <br>
                        <i class="fas fa-angle-right text-secondary ml-4"></i> toute activité relative à des prêts d'argent; <br>
                        <i class="fas fa-angle-right text-secondary ml-4"></i> activité de massage, modelage ou assimilée; <br>
                        <i class="fas fa-angle-right text-secondary ml-4"></i> activité médicale, paramédicale. <br>
                        <i class="fas fa-angle-right text-secondary ml-4"></i> vise à solliciter le paiement d'une somme
                        d'argent notamment afin de pouvoir visiter un bien immobilier, essayer un véhicule automobile, … <br><br>

                Enfin, pour toute annonce comportant une ou plusieurs photographies, celle(s)-ci devra(ont) correspondre
                au contenu de l'annonce. L'annonceur garantit expressément faire son affaire personnelle de l'obtention
                de tous les droits et autorisations nécessaires à la publication de son annonce, et notamment des droits
                de propriété intellectuelle.
            </p>
            <h5 class="h5-responsive font-weight-stone-600">
                Règles particuliers
            </h5>
            <p>
                Les règles particulières énoncées ci-dessous visent à guider l'annonceur lors de la conception de son
                annonce et sont uniquement communiquées à titre informatif. <br>
                Elles ne se substituent pas à l'obligation faite à l'annonceur de prendre connaissance de la réglementation
                applicable au contenu de son annonce avant toute diffusion de celle-ci. <br>
                La responsabilité du site ne pourra en aucun cas être engagée du fait de l'application de ces règles par
                l'annonceur et notamment en cas de mauvaise interprétation. <br>
                Par ailleurs, l'annonceur a pleinement connaissance que les règles énumérées ci-dessous ne peuvent être
                exhaustives.
            </p>
            <h6 class="font-weight-stone-600">
                Catégorie Auto-Moto
            </h6>
            <p>
                Toute Annonce relative à la vente d'un véhicule automobile (voiture et utilitaires légers) doit
                indiquer: <br><br>
                <i class="fas fa-hand-point-right text-secondary"></i> la marque du véhicule; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le modèle du véhicule; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le type du véhicule; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> la couleur du véhicule; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> et, le cas échéant, la variante* de ce modèle; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le prix du véhicule: ce prix correspond à la somme totale TTC qui devra être payée par
                l'acheteur. Le prix indiqué doit correspondre au véhicule représenté dans l'annonce; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le type d’énergie (Exemple : essence, diesel, …); <br>
                <i class="fas fa-hand-point-right text-secondary"></i> la transmission (Exemple : manuelle, automatique, …); <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le nombre de portes; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le mois et l'année de la première mise en circulation; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le kilométrage; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> le contrôle technique. <br><br>
            </p>
            <h6 class="font-weight-stone-600">Catégorie Immobilier</h6>
            <p>
                Toute annonce relative à un bien immobilier devra être insérée dans la sous-catégorie
                correspondante. Par exemple, il est interdit de diffuser une annonce dont le contenu porte sur
                la vente d’un garage dans la sous-catégorie « vente d’appartement ».
                Dans le titre de l'annonce, les termes suivants, leurs dérivés et/ou leurs synonymes ne doivent
                pas être utilisés: <br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> « achat »<br>
                <i class="fas fa-hand-point-right text-secondary"></i> « location »<br>
                <i class="fas fa-hand-point-right text-secondary"></i> « promotion »<br>
                <i class="fas fa-hand-point-right text-secondary"></i> « urgent »<br>
                <i class="fas fa-hand-point-right text-secondary"></i> « vente »<br><br>

                Toutes les annonces, ayant pour objet la vente ou la location d'un bien immobilier devant faire
                l'objet d'un diagnostic de performance énergétique, devront mentionner le classement du bien au
                regard de sa performance énergétique. <br><br>

                Dans les annonces de vente, les annonceurs doivent indiquer: <br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> Le type de bien concerné<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La surface du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La situation du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le prix de vente TTC du bien. <br><br>

                Dans leurs annonces de location, les annonceurs doivent indiquer:<br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> Le type de bien concerné<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La surface du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La situation du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le prix de vente du bien.<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le prix des frais d'agence (hors frais de notaire) toutes taxes comprises conformément aux
                dispositions légales applicables. Ce montant doit être indiqué en pourcentage si les frais sont à
                la charge de l'acquéreur;<br><br>

                En outre, les annonces relatives à la vente d'un lot ou d'une fraction de lot d'un immeuble bâti
                soumis au statut de la copropriété mentionnent:<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le fait que le bien est soumis au statut de la copropriété<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le nombre de lots<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le montant moyen annuel de la quote-part, à la charge du vendeur, du budget prévisionnel
                correspondant aux dépenses courantes définies par la loi.<br><br>

                Dans leurs annonces de location, les annonceurs doivent indiquer:<br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> le type de bien concerné<br>
                <i class="fas fa-hand-point-right text-secondary"></i> la surface du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> la situation du bien<br>
                <i class="fas fa-hand-point-right text-secondary"></i> la description du bien (meublé, non meublé, équipé, …)<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le montant du loyer charges comprises<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le prix des frais d’agence en euros toutes taxes comprises conformément aux dispositions légales
                applicables<br>
                <i class="fas fa-hand-point-right text-secondary"></i> le classement énergétique (énergie et climat) du logement<br>
            </p>
            <h6 class="font-weight-stone-600">Catégorie Services</h6>
            <p>
                Toute annonce relative à une offre de service ou à une demande de service doit: <br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> être rédigée en français. Lorsqu'il n'existe aucun terme en français permettant de désigner
                l'offre de service, le texte français doit en comporter une description détaillée afin de ne
                pas induire en erreur les lecteurs notamment sur les caractéristiques du service,
                la rémunération et le lieu de travail; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> être datée; <br><br>

                Il est interdit de:<br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> vendre des offres ou des demandes de service;<br>
                <i class="fas fa-hand-point-right text-secondary"></i> diffuser une offre ou une demande de service comportant des allégations fausses ou
                susceptibles d'induire en erreur et notamment concernant: <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'existence de l'offre ou de la demande de service <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le caractère effectivement disponible de l'offre ou de la demande de service<br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'origine de l'offre ou de la demande de service <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> la nature de l'offre ou de la demande de service <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> la description du service <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les avantages annexes proposés <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le lieu du travail <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le caractère gratuit de ce service. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> insérer des mentions imposant une limite d'âge maximale sauf si cette limite d'âge est imposée par les
                dispositions légales <br>
                <i class="fas fa-hand-point-right text-secondary"></i> diffuser une offre ou une demande de service comportant des éléments à caractères discriminatoires tels
                que <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'origine <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le sexe <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les mœurs <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'orientation sexuelle <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'âge <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> la situation de famille ou la grossesse <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les caractéristiques génétiques<br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'appartenance ou non appartenance vraie ou supposée à une ethnie, une nation ou une race <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les opinions politiques <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les activités syndicales ou mutualistes <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> les convictions religieuses <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'apparence physique <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le nom de famille <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> l'état de santé <br>
                    <i class="fas fa-angle-right text-secondary ml-3"></i> le handicap<br><br>
            </p>
        </div>
    </div>
</section>


