<section>
    <div class="card">
        <div class="card-body">
            <h2 class="h2-responsive font-weight-stone-600 mb-3">Conditions juridiques et glossaire</h2>
            <h4 id="item-1-1" class="h4-responsive font-weight-stone-600 mb-3">
                Conditions juridiques applicable au site {{ settings.name }}
            </h4>
            <p>
                Les conditions juridiques du site sont composées des documents suivants, lesquels sont en
                tout ou partie applicables aux annonceurs et utilisateurs du site. En conséquence,
                en utilisant les services du site , l'annonceur et l'utilisateur acceptent expressément
                les présentes conditions juridiques dès lors que celles-ci sont applicables.
            </p>
            <h5 class="h5-responsive font-weight-stone-600">
                Conditions applicables aux utilisateurs (visiteurs) du Site
            </h5>
            <p>
                <i class="fas fa-hand-point-right text-secondary"></i> Les conditions générales d'utilisation. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La politique de confidentialité.
            </p>
            <h5 class="h5-responsive font-weight-stone-600">
                Conditions applicables aux annonceurs
            </h5>
            <p>
                <i class="fas fa-hand-point-right text-secondary"></i> Les conditions générales d'utilisation. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La politique de confidentialité. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La charte du Bon Annonceur. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> Les conditions Générales de Vente. <br>
            </p>

            <h4 id="item-1-2" class="h4-responsive font-weight-stone-600 mt-4 mb-3">
                Glossaire
            </h4>
            <p>
                Les présentes définitions s'appliquent à l'ensemble des conditions juridiques applicables au
                site web et précisément, aux conditions générales d'utilisation, à la politique de confidentialité,
                à la <span class="text-primary font-weight-stone-500">charte du bon annonceur</span> et aux
                <span class="text-primary font-weight-stone-500">conditions générales de vente</span>
            </p>
            <h5 class="h5-responsive font-weight-stone-600">
                Accès particulier
            </h5>
            <p>
                Désigne le compte de l'annonceur particulier, personne physique, sur lequel il peut gérer ses
                abonnements et sur lequel il peut accéder notamment à ses données personnelles, ses Annonces,
                ses alertes e-mail, ses newsletters.
            </p>
            <h6 class="font-weight-stone-600">Annonce</h6>
            <p>
                Désigne l'ensemble des éléments fixes ou animés (visuels, graphiques, textes, logiciels, sons),
                à caractère directement ou indirectement publicitaire, rédigés et/ou conçus sous l'exclusive
                responsabilité éditoriale d'un annonceur et diffusé, à l'effet de vendre, louer, donner ou
                rechercher un bien ou service.
            </p>
            <h6 class="font-weight-stone-600">Annonceur</h6>
            <p>
                Dans le cadre des présentes CGV, désigne toute personne morale qui dépose une
                Annonce sur le Site. La personne morale peut être publique ou privée et exerce à titre
                habituel une activité commerciale, industrielle, artisanale ou libérale, établie en Côte d'Ivoire.
            </p>
            <h6 class="font-weight-stone-600">Annonceur Particulier</h6>
            <p>
                Désigne toute personne physique majeure qui agit exclusivement à des fins privées, établie en
                Côte d'Ivoire et ayant déposé une annonce sur le Site. Tout Annonceur Particulier doit
                impérativement être titulaire d’un Accès particulier pour déposer et gérer sa ou ses annonces.
            </p>
            <h6 class="font-weight-stone-600">Annonceur Professionnel</h6>
            <p>
                Désigne toute personne morale qui dépose une annonce sur le site. La personne morale peut
                être publique ou privée et exerce à titre habituel une activité commerciale, industrielle,
                artisanale ou libérale, Côte d'Ivoire et agissant soit directement, soit par l'intermédiaire
                d'un mandataire dûment désigné par elle.
            </p>
            <h6 class="font-weight-stone-600">Compte</h6>
            <p>
                Désigne le compte de l’annonceur particulier, personne physique, sur lequel il peut gérer
                ses abonnements et sur lequel il peut accéder notamment à ses données personnelles,
                ses annonces, ses alertes e-mail, ses newsletters.
            </p>
            <h6 class="font-weight-stone-600">CGU</h6>
            <p>
                Désigne les conditions générales d’utilisation du Site, lesquelles régissent les
                obligations des Utilisateurs et des Annonceurs ainsi que les relations entre les Utilisateurs,
                les Annonceurs et la Société.
            </p>
            <h6 class="font-weight-stone-600">
                CGV
            </h6>
            <p>
                Désigne les Conditions Générales de Vente des Services souscrits par les Annonceurs auprès
                de la Société.
            </p>
            <h6 class="font-weight-stone-600">Charte du Bon Annonceur</h6>
            <p>
                Désigne la charte à laquelle les Annonceurs déclarent se conformer.
            </p>
            <h6 class="font-weight-stone-600">Commande</h6>
            <p>
                Désigne toute souscription d'un ou plusieurs packs et/ou d’une Option et/ou d’un ou
                plusieurs espaces publicitaires par l'annonceur passée par courrier postal ou électronique
                ou téléphone, télécopie.
            </p>
            <h6 class="font-weight-stone-600">Compte</h6>
            <p>
                Désigne le compte d’un annonceur ayant un compte ou un accès pro ou le compte
                d’un utilisateur ayant un accès particulier.
            </p>
            <h6 class="font-weight-stone-600">Contrat</h6>
            <p>
                Désigne les CGU, les CGV, la politique de confidentialité et la charte du bon annonceur que
                l'annonceur ou l'utilisateur s'engage à respecter.
            </p>
            <h6 class="font-weight-stone-600">Données personnelles</h6>
            <p>
                Dans le cadre des présentes CGV, désigne les informations à caractère personnel
                renseignées par l’annonceur sur son Espace pro. Les données personnelles susceptibles
                d’être collectées sont définies dans la politique de confidentialité.
            </p>
            <h6 class="font-weight-stone-600">Elément Publicitaire</h6>
            <p>
                Désigne tout élément publicitaire transmis par l’annonceur professionnel à la Société en
                vue de leur intégration dans les espaces Publicitaires choisis par l’annonceur.
            </p>
            <h6 class="font-weight-stone-600">Messagerie</h6>
            <p>
                Désigne la messagerie interne proposée sur le site permettant aux utilisateurs d'entrer en contact avec
                les annonceurs afin de leur soumettre leurs demandes de compléments d'informations et/ou de convenir
                de la vente entre eux. La messagerie est accessible à partir du compte de l'Utilisateur ou de l'annonceur.
            </p>

            <h6 class="font-weight-stone-600">Option</h6>
            <p>
                Désigne les options payantes proposées par sur le site à l’annonceur dans le cadre des packs et
                telles que détaillées dans le BdC dans l’Espace pro.
            </p>
            <h6 class="font-weight-stone-600">Pack</h6>
            <p>
                Désigne les packs proposés par la société tels que détaillés dans les BdC et permettant
                également l'accès à l'Espace pro. En cas de souscription d'un Pack d'un montant plus élevé,
                il sera mis fin automatiquement à la commande en cours, et une nouvelle commande de Pack sera
                conclue. Chaque Pack inclut des options qui sont comprises dans le prix du pack et dont le
                détail est spécifié dans le BdC. L'annonceur pourra choisir des options unitaires ponctuelles.
                Le BdC précise la rubrique souscrite par l’annonceur, la durée du pack et les prix associés.
            </p>

            <h6 class="font-weight-stone-600">Partenaire</h6>
            <p>
                Désigne toute société avec laquelle la société entretient des relations commerciales ayant
                notamment pour objet la diffusion d'annonces sur les supports détenus ou exploités par le
                partenaire.
            </p>

            <h6 class="font-weight-stone-600">Politique de confidentialité</h6>
            <p>
                Désigne les règles de protection et de sécurité appliquées aux Données personnelles.
            </p>

            <h6 class="font-weight-stone-600">Service</h6>
            <p>
                Désigne l'ensemble des services mis à la disposition des annonceurs sur le site.
            </p>
            <h6 class="font-weight-stone-600">Utilisateur</h6>
            <p>
                Désigne tout visiteur, ayant accès au site web sur lequel il peut consulter les pages
                du site et s'il le souhaite utiliser les services ouverts du Site.
            </p>
        </div>
    </div>
</section>

