{% if settings.activePub %}
    {% if pubs|length > 0 %}
        <section class="row">
            {% for pub in pubs %}
                <div class="col-12 mb-4">
                    <a href="{{ pub.url }}" target="_blank">
                        <img src="{{ vich_uploader_asset(pub, 'file') }}" alt="{{ pub.name }}"
                             class="img-fluid z-depth-2 pub" style="border-radius: 5px !important">
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endif %}