.skin-light .app-brand-logo img {
    width: 50px;
}

.skin-light .app-brand-logo img.orange {
    width: 37.5px;
}

.skin-light .app-brand-logo img.moov {
    width: 37.5px;
}

.skin-light .app-brand-logo img.wari {
    width: 37.5px;
}

/* Devise */

.skin-light .price {
    position: relative;
}

.skin-light .price .number {
    position:relative;
    font-size: 2rem !important;
    font-weight: 600 !important;
}

@media (max-width: 767px) {


    .skin-light .price .number {
        position:relative;
        font-size: 2rem !important;
        font-weight: 600 !important;
        left: 5px;
    }

    .skin-light .price .number span {
        font-size: 1.6rem !important;
        font-weight: 600 !important;
    }
}

/* >>>>> Item price */
.skin-light .price.item .number {
    position: relative;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.skin-light .price.item .number span {
    position: relative;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (max-width: 767px) {
}
/* <<<<< Item price */

/* >>>>> Total price */
.skin-light .price.total .number {
    position: relative;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.skin-light .price.total .number span {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

@media (max-width: 767px) {
}
/* <<<<< Total price */

/* >>>>> TTC price */
.skin-light .price.ttc .number {
    position: relative;
    font-size: 2rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

@media (max-width: 767px) {
}

/* <<<<< TTC price */

/* >>>>> Payment */
.skin-light .app-payment-type {
    cursor: pointer;
}

.skin-light .app-payment-type.active {
    border: 2px solid #FF6A00;
    color: #FF6A00;
    -webkit-box-shadow: 0 8px 17px 0 rgba(255, 106, 0, 0.2), 0 6px 20px 0 rgba(255, 106, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(255, 106, 0, 0.2), 0 6px 20px 0 rgba(255, 106, 0, 0.19) !important;
}

.skin-light .app-payment-type.active .form-check label span {
    color: #FF6A00 !important;
}

.skin-light .app-payment-type .form-check label {
    position: relative;
    margin-left: -11px;
}

.skin-light .app-payment-type .form-check label span {
    line-height: normal;
    position: relative;
    top: -5px
}
/* <<<<< Payment */

/* >>>>> Wallet data */

.skin-light .app-payment-type .price .number {
    position: relative;
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.skin-light .app-payment-type .price .number span {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

/* <<<<< Wallet data */