.skin-light .app-brand-logo img {
    width: 50px;
}

.skin-light .app-brand-logo img.orange {
    width: 37.5px;
}

.skin-light .app-brand-logo img.moov {
    width: 37.5px;
}

.skin-light .app-brand-logo img.wari {
    width: 37.5px;
}

/* Devise */
.skin-light img.devise {
    width: 30px !important;
    height: 32px !important;
    padding: 0 !important;
    position:relative;
    top: -4px;
    right: 14px;
}

.skin-light .price {
    position: relative;
}

.skin-light .price .number {
    position:relative;
    font-size: 2rem !important;
    font-weight: 600 !important;
}

@media (max-width: 767px) {
    .skin-light .price .number {
        position:relative;
        font-size: 2rem !important;
        font-weight: 600 !important;
        left: 5px;
    }

    .skin-light img.devise {
        width: 30px !important;
        height: 32px !important;
        padding: 0 !important;
        position:relative;
        top: -4px;
        right: 10px;
    }
}

/* >>>>> Item price */
.skin-light .price.item .number {
    position: relative;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.skin-light .price.item img.devise {
    width: 18px !important;
    height: 20px !important;
    padding: 0 !important;
    position:relative;
    top: 5px;
    right: 5px;
}

.skin-light .price.item {
    position: relative;
    top: -8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .skin-light .price.item {
        position: relative;
        top: -4px;
    }
}

@media (max-width: 767px) {
    .skin-light .price.item img.devise {
        width: 18px !important;
        height: 20px !important;
        padding: 0 !important;
        position:relative;
        top: 6px !important;
        right: 0 !important;
    }

    .skin-light .price.item {
        position: relative;
        top: 0;
    }
}
/* <<<<< Item price */

/* >>>>> Total price */
.skin-light .price.total .number {
    position: relative;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.skin-light .price.total img.devise {
    width: 22px !important;
    height: 24px !important;
    padding: 0 !important;
    position:relative;
    top: 8px;
    right: 6px;
}

.skin-light .price.total {
    position: relative;
    top: -8px;
}

@media (max-width: 767px) {
    .skin-light .price.total img.devise {
        width: 22px !important;
        height: 24px !important;
        padding: 0 !important;
        position:relative;
        top: 8px !important;
        right: 1px;
    }

    .skin-light .price.total {
        position: relative;
        top: -5px;
    }
}
/* <<<<< Total price */

/* >>>>> TTC price */
.skin-light .price.ttc .number {
    position: relative;
    font-size: 2rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
}

.skin-light .price.ttc img.devise {
    width: 30px !important;
    height: 32px !important;
    padding: 0 !important;
    position:relative;
    top: 10px;
    right: 7px;
}

.skin-light .price.ttc {
    position: relative;
    top: -18px;
}

@media (max-width: 767px) {
    .skin-light .price.ttc img.devise {
        width: 30px !important;
        height: 32px !important;
        padding: 0 !important;
        position:relative;
        top: 11px;
        right: 3px;
    }

    .skin-light .price.ttc {
        position: relative;
        top: -13px;
    }
}
/* <<<<< TTC price */

/* >>>>> Payment */
.skin-light .app-payment-type {
    cursor: pointer;
}

.skin-light .app-payment-type.active {
    border: 2px solid #FF6A00;
    color: #FF6A00;
    -webkit-box-shadow: 0 8px 17px 0 rgba(255, 106, 0, 0.2), 0 6px 20px 0 rgba(255, 106, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(255, 106, 0, 0.2), 0 6px 20px 0 rgba(255, 106, 0, 0.19) !important;
}

.skin-light .app-payment-type.active .form-check label span {
    color: #FF6A00 !important;
}

.skin-light .app-payment-type .form-check label {
    position: relative;
    margin-left: -11px;
}

.skin-light .app-payment-type .form-check label span {
    line-height: normal;
    position: relative;
    top: -5px
}
/* <<<<< Payment */

/* >>>>> Wallet data */
.skin-light .app-payment-type .price {
    margin-right: -16px !important;
}

.skin-light .app-payment-type .price .number {
    position: relative;
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.skin-light .app-payment-type .price img.devise {
    width: 26px !important;
    height: 28px !important;
    padding: 0 !important;
    position:relative;
    top: -5px;
    right: 11px;
}
/* <<<<< Wallet data */