.skin-light .premium .title div {
    font-size: 1.1rem;
    font-weight: 500;
}

.skin-light .premium .title div a {
    font-size: .9rem;
    font-weight: 500;
    color: #ffc107;
}

.skin-light .premium .title div a:hover {
    color: #ffa000;
    text-decoration: underline;
}

.skin-light .premium .content a .view {
    cursor: pointer;
    border-radius: 30px !important;
    /*transform-style: preserve-3d;*/
}

.skin-light .premium .content a .view p {
    background-color: rgba(0, 50, 255, .8);
    color: #ffffff;
    font-size: .92rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 10px 7px 10px;
    border-radius: 50px !important;
}

.skin-light .premium .content a .view:hover p {
    background-color: rgba(255, 255, 255, .9);
    color: #0032FF;
}

@media (max-width: 767px) {

    .skin-light .premium .content a .view p {
        background-color: #0032FF;
        color: #ffffff;
        font-size: .8rem;
        font-weight: 500;
        line-height: normal;
        padding: 5px 7px 5px 7px;
        border-radius: 50px !important;
    }

    .skin-light .premium .title h5 {
        font-size: 1.2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .skin-light .premium .content a .view p {
        background-color: #0032FF;
        color: #ffffff;
        font-size: .9rem;
        font-weight: 500;
        line-height: normal;
        padding: 5px 7px 5px 7px;
        border-radius: 50px !important;
    }
}

