{#  Conditions generales d'utilisation #}
<section>
    <div class="card">
        <div class="card-body">
            <h2 class="font-weight-stone-600 mb-3">Conditions generales d'utilisation</h2>
            <h4 class="font-weight-stone-600 mb-3">
                Objet
            </h4>
            <p>
                Les CGU ont pour objet de déterminer les conditions d'utilisation du Site et des Services mis à disposition des
                Utilisateurs et des Annonceurs. <br>
                Tout Annonceur ayant un Compte, déposant des Annonces sur le Site déclare avoir pris connaissance des
                présentes CGU et en accepte expressément les termes. <br>
                Les Utilisateurs et les Annonceurs s'engagent à respecter scrupuleusement et intégralement les présentes CGU.
            </p>
            <h4 class="font-weight-stone-600 mb-3">
                Description des services accessibles aux annonceurs et utilisateurs
            </h4>
            <p>
                Sans que cette liste ne soit exhaustive, les services suivants sont accessibles depuis le Site Internet:
                <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La consultation des annonces. <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La création d'un Compte.<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La création d'annonces (valable uniquement pour les annonceurs). <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La diffusion d'annonces et la gestion des annonces publiées
                (uniquement pour les Annonceurs) <br>
                <i class="fas fa-hand-point-right text-secondary"></i> La création d'alertes e-mails pour les annonces.<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La gestion des coordonnées et des informations personnelles.<br>
                <i class="fas fa-hand-point-right text-secondary"></i> L'accès aux options dans les conditions décrites aux CGV.<br>
                <i class="fas fa-hand-point-right text-secondary"></i> La mise en contact entre les utilisateurs intéressés par les
                annonces et les annonceurs par l'intermédiaire de la messagerie. <br>
            </p>
            <h4 class=" h4-responsive font-weight-stone-600 mb-3">
                Creation d'un compte
            </h4>
            <h5 class="h5-responsive font-weight-stone-600">Dispositions générales</h5>
            <p>
                La création d'un compte est gratuite. Un même annonceur ou utilisateur ne doit créer qu'un seul compte.<br>
                Pour créer un compte, l'annonceur ou l’utilisateur doit renseigner le formulaire d'inscription. <br>
                L'annonceur ou l'utilisateur s'engage à compléter le formulaire d'inscription en ligne de bonne foi,
                en fournissant des informations exactes. <br>
                Il s'engage à ne pas usurper d'identité, ni utiliser une fausse identité de nature à induire les tiers
                en erreur quant à l'identité de l'auteur d'une annonce. <br>
            </p>

            <h5 class="h5-responsive font-weight-stone-600">Création du Compte</h5>
            <p>
                L'annonceur particulier ou l'utilisateur devra obligatoirement renseigner les champs suivants:
                ses nom et prénom, son adresse e-mail et son numéro de téléphone. <br>
                L'annonceur professionnel devra obligatoirement renseigner les champs obligatoires et notamment:
                la dénomination sociale, le nom, le prénom, le SIRET, l'adresse, le code postal, la ville,
                le numéro de téléphone et l'adresse e-mail.
            </p>

            <h5 class="h5-responsive font-weight-stone-600">Mot de passe</h5>
            <p>
                L'annonceur ou l'utilisateur s'engage à maintenir la confidentialité de son mot de passe, afin
                de lui permettre d'accéder à tout ou partie des services et, notamment, à son Compte et sa
                messagerie. <br>
                L'annonceur ou l'utilisateur ne saurait donc rechercher la responsabilité du site en cas
                d'agissements sur le site web par un tiers en possession de son mot de passe, à charge pour lui de
                se retourner contre ce tiers. De manière générale, l'annonceur ou l'utilisateur reconnaît que la
                société n'est pas responsable d'une utilisation frauduleuse de son compte ou de sa messagerie. <br>
                L'annonceur ou l'utilisateur s'engage à notifier à la société, dans les meilleurs délais, toute
                utilisation non autorisée de son compte ou de sa messagerie, dès qu'il en a eu connaissance.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Dépôt et diffusion d'une annonce
            </h4>
            <h5 class="h5-responsive font-weight-stone-600">Dépôt d'une Annonce</h5>
            <p>
                L'annonceur pourra déposer son annonce selon les conditions indiquées sur le formulaire de
                dépose d'annonce correspondant à la catégorie souhaitée et déterminant notamment son caractère payant
                ou gratuit, le nombre de photos, etc. Chaque annonce a une durée de diffusion qui est de six (6) mois.<br>
                L'annonceur est informé que pour des raisons d'ordre technique, la mise en ligne d'une annonce sur le site
                web ne sera pas instantanée avec sa validation. <br>
            </p>

            <h5 class="h5-responsive font-weight-stone-600">Diffusion d'une annonce</h5>
            <h6 class="font-weight-stone-600">Règles générales de diffusion</h6>
            <p>
                L'annonceur pourra déposer son annonce selon les conditions indiquées sur le formulaire de dépose
                d'annonce correspondant à la catégorie souhaitée et déterminant notamment son caractère payant ou gratuit,
                le nombre de photos ., etc Chaque annonce a une durée de diffusion qui est de six (6) mois. L'annonceur
                est informé que pour des raisons d'ordre technique, la mise en ligne d'une annonce sur le site web ne sera
                pas instantanée avec sa validation.
            </p>
            <h6 class="font-weight-stone-600 mt-3">Annonce et respect de la législation en vigueur et des droits des tiers</h6>
            <p>
                L'Annonceur garantit expressément faire son affaire personnelle de l'obtention de tous les droits et
                autorisations nécessaires pour la publication de toute annonce et notamment des droits de propriété
                intellectuelle. L’annonceur intervenant en qualité d’association garantit détenir le statut d’association
                à but non lucratif et ne pas agir dans le cadre d’une activité commerciale. A défaut, l’annonceur engage
                sa responsabilité. L'annonceur garantit que l'annonce ne contrevient à aucune norme et/ou réglementation
                en vigueur (notamment relatives à la propriété, la publicité, la concurrence, la promotion des ventes,
                l'utilisation de la langue française, l'utilisation de données personnelles), ni aucun droit de tiers
                (notamment aux droits de propriété, de propriété intellectuelle et aux droits de la personnalité),
                ni à la charte du bon annonceur et qu'il ne comporte aucun message diffamatoire ou dommageable à
                l'égard de tiers. <br> <br>
                Ainsi, l'annonceur s'engage notamment à ce que l'annonce: <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> ne donne pas accès par le biais de liens
                hypertextes à des sites web dont le contenu est contraire à la législation ou réglementation en vigueur;<br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> ne présente pas des informations fausses,
                mensongères ou de nature à induire en erreur ou des documents de nature diffamatoire, ou contrefaisante
                ou de nature à nuire aux intérêts ou à l'image de la société. <br>
                Dans ce cadre, l'annonceur déclare et reconnaît qu'il est seul responsable du contenu des annonces qu'il
                publie et rend accessible aux autres utilisateurs, ainsi que de tout document ou information qu'il
                transmet aux utilisateurs. L'annonceur assume l'entière responsabilité éditoriale du contenu des annonces
                qu'il publie. Il garantit ainsi la société contre toute condamnation qui pourrait être prononcée à son
                encontre de ce fait et dégage expressément la société de toute responsabilité qu'elle pourrait encourir
                dans les termes prévus à l'article Responsabilité.
            </p>
            <h6 class="font-weight-stone-600 mt-3">Cession de droits sur les annonces</h6>
            <p>
                En publiant toute annonce sur le site web chaque annonceur: <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> accorde à la société, à titre gracieux, une
                licence non exclusive, transférable, sous licenciable, pour le monde entier sur l’ensemble du contenu
                des annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres
                (ci-après le « Contenu ») dès lors qu’elles sont publiées sur le Site. <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> accorde à la société le droit d’utiliser,
                adapter, modifier, supprimer, ajouter, exécuter ou représenter publiquement, reproduire, réaliser une
                œuvre dérivée, traduire et distribuer tout ou partie du contenu, de la(les) annonce(s) qu'elle stocke
                et qui ont été déposées sur le site, par tous procédés, sous quelque forme que ce soit et sur tous
                supports (numérique, imprimé, analogique, etc.) connus ou inconnus à ce jour, dans le cadre du service
                ou en relation avec l’activité de la société, et ce à des fins commerciales ou non et notamment
                publicitaire, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels la société
                est présente. <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> accorde à la société le droit de transmettre
                aux partenaires ou de mettre en ligne ou permettre la mise en ligne, sur les services de communications
                électroniques mentionnés plutôt, en vue de la(les) rendre accessible(s), et ce, sous quelque forme que
                ce soit et quel que soit le mode de diffusion des annonces sur lesdits services de communications
                électroniques; <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> reconnaît que la société pourra référencer
                tout ou partie de l'annonce afin d'en faciliter la gestion, le stockage et l'accès. Par ailleurs, compte
                tenu de la nature interactive et évolutive d'Internet, chaque annonceur est informé du fait que sa(ses)
                annonce(s) peut être présentée(s) dans différents contextes, associée(s) à d'autres annonces, faire
                l'objet d'exploitations partielles, et il déclare l'accepter sans restriction ni réserve. Chaque annonceur
                est toutefois informé que le stockage des annonces implique la compression et l'encodage automatique
                des annonces et que ces opérations peuvent parfois engendrer intrinsèquement des dégradations éventuelles
                de qualité. En conséquence, chaque annonceur en accepte et assume la responsabilité pleine et entière,
                notamment vis-à-vis de tous tiers. La aociété fournira néanmoins ses meilleurs efforts pour assurer une
                qualité optimale de diffusion des annonces; <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> concède à la aociété, et aux Partenaires, le
                droit d'utiliser, de reproduire, publier et diffuser les annonces qu'il a décidé de stocker, transmettre
                ou mettre en ligne sur les services de communications électroniques mentionnés plutôt; <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> reconnaît et accepte expressément que la
                société, le partenaire, pourra transformer et adapter les annonces, les réduire, les agrandir, recadrer,
                coloriser, pour les besoins notamment de la mise en ligne et de l'exploitation des annonces sur les
                supports ou les services de communications électroniques mentionnés plutôt, sans que cela constitue une
                intervention éditoriale; <br>
                <i class="fas fa-hand-point-right mr-1 text-secondary"></i> La licence est concédée à titre gratuit et
                non exclusif, pour le territoire de diffusion des annonces et pour la durée de diffusion des annonces.
                <br> <br>

                L'annonceur est averti et accepte expressément que son annonce puisse être accessible, reproduite et
                représentée par les utilisateurs du site et, notamment, sur les pages personnelles des réseaux sociaux
                des utilisateurs et fasse également l'objet de commentaires par les utilisateurs de ces réseaux sociaux.
                La société n'est pas responsable des commentaires publiés, notamment en cas de commentaires injurieux et
                diffamatoires. La société ne pourra jamais être reconnue responsable de l'exploitation d'une annonce par
                un utilisateur.
            </p>

            <h5 class="h5-responsive font-weight-stone-600 mt-3">Retrait – Suspension des annonces</h5>
            <p>
                La société se réserve le droit de supprimer, sans préavis ni information ou notification préalable,
                ni indemnité ni droit à remboursement, tout ou partie d'une annonce qui serait notamment non conforme
                aux dispositions des présentes CGU et/ou à la Charte du bon annonceur et/ou qui serait susceptible
                d'enfreindre ou de heurter les droits d'un tiers ou de la société.
                La société pourra refuser ou suspendre toute diffusion notamment en cas d'impossibilité technique liée
                à la mise en ligne, au serveur ou encore à l'interruption des réseaux de communications électroniques
                et/ou électriques...
            </p>
            <h5 class="h5-responsive font-weight-stone-600 mt-3">
                Notification des abus – Demande des autorités judiciaires
            </h5>
            <p>
                La société se réserve le droit de retirer le contenu ou l'annonce qu'un utilisateur aura identifié comme
                étant illicite ou manifestement illicite conformément au loi en vigueur. <br>
                L‘annonceur est avisé que, sur demande d'une autorité judiciaire, la société fournira tous les
                renseignements permettant ou facilitant l'identification de l'annonceur qu'elle pourrait détenir, tels que
                notamment l'adresse IP et l'heure de connexion.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Responsabilité de l'annonceur
            </h4>
            <p>
                Tout annonceur est responsable du contenu de son annonce conformément aux dispositions légales,
                réglementaires, aux dispositions des CGU, charte du bon annonceur, CGV, politique de confidentialité.
                Il garantit à cet égard la société contre toute condamnation qui pourrait être prononcée à son encontre
                de ce fait et dégage expressément la société de toute responsabilité qu'elle pourrait encourir.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Responsabilité de l'utilisateur
            </h4>
            <p>
                Tout utilisateur s'engage, dans tous les cas, à utiliser et exploiter l'annonce publiée par les
                annonceurs conformément à la législation et réglementation applicable et notamment dans le respect
                des droits des tiers et de l'annonceur auteur de l'Annonce. Tout utilisateur est responsable de
                l'utilisation qu'il fait de l'annonce et des services de la société. Il garantit à cet égard la société
                contre toute condamnation qui pourrait être prononcée à son encontre de ce fait et dégage expressément
                la société de toute responsabilité qu'elle pourrait encourir.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Responsabilité de la societe
            </h4>
            <p>
                La société se limitant à héberger les annonces, mises en ligne par les annonceurs sur le site. <br>
                La société ne saurait donc en aucun cas être tenue responsable du contenu des annonces publiées par les
                annonceurs et ne donne aucune garantie, expresse ou implicite, à cet égard. La société n'est pas tenue
                d'exercer un contrôle sur la qualité, la licéité, la véracité ou l'exactitude des annonces publiées.
                Néanmoins, si l'annonceur diffuse sur le site une annonce ayant un contenu illicite ou manifestement
                illicite, dès lors qu'elle en a connaissance, la société se réserve le droit de la supprimer, sans préavis,
                ni indemnité, ni droit à remboursement, et sans préjudice de tout autre droit que la société pourrait invoquer.
                Il est rappelé que la Société est un tiers aux correspondances et relations entre les différents annonceurs
                et utilisateurs, les annonceurs publicitaires ou les organisateurs d'opérations commerciales
                (qu'ils soient ou non partenaires de la société), et exclut de ce fait toute responsabilité à cet égard.
                A cet effet, il est rappelé que les accords sont conclus directement entre l'annonceur et l'utilisateur.
                En conséquence, la société ne garantit pas qu'un accord puisse être conclu entre un annonceur et un
                utilisateur mis en relation avec un annonceur. L'annonceur est libre de choisir l'utilisateur avec lequel
                il souhaite conclure un accord. <br><br>

                Les services sont offerts à titre indicatif aux utilisateurs et ne constituent en aucune façon un
                engagement ou une garantie quelconque de la part de la société. Les services de nature rédactionnelle
                (informations locales, guides pratiques, articles, vidéos, etc.), ne contiennent que de simples
                informations pratiques et ne constituent pas un conseil juridique ou un quelconque engagement de la part
                de la société. Les utilisateurs doivent s'adresser à leur conseil habituel pour obtenir un conseil
                approprié qui soit spécifiquement adapté à leur situation. La société ne saurait donc être tenue
                responsable des conséquences directes ou indirectes de l'utilisation de ces informations, et de manière
                générale des Services mis à disposition des utilisateurs sur le site. <br>
                La société n'est pas responsable de l'utilisation frauduleuse qui pourra être faite par l'annonceur ou
                l'utilisateur des informations qu'il pourra trouver sur le site. <br><br>

                La société se réserve le droit, à tout moment, de modifier ou interrompre l'accessibilité au site ou
                tout ou partie des services. <br> <br>

                La société ne pourra être tenue responsable des interruptions et modifications du site et des services.
                Il incombe aux annonceurs de prendre toutes précautions utiles pour conserver les annonces qu'ils publient
                sur le site. <br>
                La société s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture
                des Services qu'elle propose aux utilisateurs et annonceurs. <br>
                La responsabilité de la société ne pourra pas être engagée, notamment du fait de la perte de données ou
                d'informations stockées sur le site ni du fait de préjudices ou dommages directs ou indirects, de quelque
                nature que ce soit, résultant de la gestion, l'utilisation, l'exploitation, l'interruption ou le
                dysfonctionnement du Site ou des services. <br><br>

                La responsabilité de la société ne saurait être engagée en cas de force majeure ou de fait indépendant
                de sa volonté, notamment en cas d'interruption du site ou des services résultant d'une défaillance
                du réseau de communications (réseaux de communications électroniques, électriques, etc) ou du fournisseur
                d'accès à Internet de l'annonceur.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Garanties de l'annonceur
            </h4>
            <p>
                Dans le cas où la responsabilité de la société serait judiciairement recherchée à raison d'un manquement
                par un annonceur aux obligations qui lui incombent aux termes des CGU, charte du bon annonceur,
                CGV ou politique de confidentialité, la société et/ou les partenaires pourront appeler l'annonceur en
                garantie. <br>
                Par conséquent, l'annonceur garantit la société ainsi que ses dirigeants et employés, et/ou les sociétés
                de son groupe, des conséquences de tout trouble de droit ou de fait, et notamment de toute action dirigée
                contre la société en relation avec une violation des CGU, charte du bon annonceur, CGV ou politique de
                confidentialité. L'annonceur, du fait de cette garantie, supporterait tous les dommages et intérêts
                auxquels seraient condamnés la société qui s'étendent aux frais de justice éventuels qu'ils devraient
                assumer, y compris les frais irrépétibles, les frais d'avocats, dépens, et les frais de publication.
                <br>
                Il est expressément convenu que l'annonceur s'engage à informer immédiatement la société de toute
                réclamation formulée par un tiers et relative à la diffusion de l'annonce, afin que la société
                puisse suspendre ou interrompre la diffusion de l'annonce sur le site, sans que cette suspension
                ou interruption n'ouvre droit à une quelconque indemnité au profit de l'annonceur.
            </p>

            <h4 class=" h4-responsive font-weight-stone-600 mb-3 mt-4">
                Données personnelles
            </h4>
            <p>
                La société s'engage à respecter la législation en vigueur dans le cas où elle serait amenée à collecter
                des données à caractère personnel relatives aux utilisateurs ou aux annonceurs. <br>
                Les informations ainsi collectées sont destinées à l'usage de la société, et ne peuvent faire l'objet
                d'une communication ou location à des tiers ou des prestataires techniques intervenant dans le cadre
                de l'exécution des CGU, charte du bon annonceur, CGV ou politique de confidentialité. Ces tiers ou
                prestataires s'engagent à respecter la confidentialité de ces données personnelles. <br>
                L'utilisateur ou l'annonceur est invité à consulter la politique de confidentialité accessible sur le site.
            </p>
        </div>
    </div>
</section>