<section>
    <h5 class="h5-responsive">Lieu</h5>

    <form action="" id="app-search-advert-location">
        <div class="d-flex flex-wrap">
            <div class="select-outline position-relative w-100">
                <select id="app-search-advert-location-area" class="mdb-select mb-0 md-outline md-form dropdown-stone app-search-advert-location-area">
                    <option value="" disabled selected>Region</option>
                    {% for area, key in areas %}
                        <option value="{{ key }}">{{ area }}</option>
                    {% endfor %}
                </select>
                <label>Region</label>
            </div>
        </div>

        <div class="d-flex flex-wrap">
            <div class="select-outline position-relative w-100">
                <select id="app-search-advert-location-city" class="mdb-select mb-0 md-outline md-form dropdown-stone app-search-advert-location-city">
                    <option value="" disabled selected>Ville</option>
                    {% for city, key in cities %}
                        <option value="{{ key }}">{{ city }}</option>
                    {% endfor %}
                </select>
                <label>Ville</label>
            </div>
        </div>

        <div class="d-flex flex-wrap">
            <div class="select-outline position-relative w-100">
                <select id="app-search-advert-location-district" class="mdb-select mb-0 md-outline md-form dropdown-stone app-search-advert-location-district">
                    <option value="" disabled selected>Quartier</option>
                </select>
                <label>Quartier</label>
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-success">Mettre à jour</button>
    </form>
</section>





